* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: grey;
}

body main {
  position: relative;
  width: 50rem;
  height: 35rem;
  background-color: grey;
  margin: 20px auto;
  overflow: hidden;
  background-image: url("../img/backgroundForrest.jpg");
  background-size: cover;
  border-radius: 5px;
}

body main section #tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  z-index: 99;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: -5%;
  margin: auto;
}

body main section #tree img {
  width: 14rem;
  height: 18rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main section #cube {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid lightblue;
  background-color: lightblue;
  border-radius: 50%;
  background-image: url("../img/duck.png");
  background-size: contain;
  z-index: 1;
}

body main #popup {
  display: none;
  width: 100%;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=style.css.map */