*
    box-sizing: border-box

body
    margin: 0
    background-color: grey
    main
        position: relative
        width: 50rem
        height: 35rem
        background-color: grey
        margin: 20px auto
        overflow: hidden
        background-image: url('../img/backgroundForrest.jpg')
        background-size: cover
        border-radius: 5px

        section
            
            #tree
                display: flex
                position: absolute
                justify-content: space-around
                width: 100%
                z-index: 99
                user-select: none
                bottom: -5%
                margin: auto
                
                img
                    width: 14rem
                    height: 18rem
                    user-select: none

            #cube
                position: absolute
                width: 40px
                height: 40px
                border: 1px solid lightblue
                background-color: lightblue
                border-radius: 50%
                background-image: url('../img/duck.png')
                background-size: contain
                z-index: 1

        #popup
            display: none
            width: 100%    
            margin: 50px auto
            background-color: rgba(255, 255, 255, 0)
            color: white
            text-align: center
            justify-content: center
            align-items: center
            font-size: 20px
            user-select: none
                